body{
     margin:0;
    padding:10px;
    background:url(action-blur-car-child-3860091.jpg);
    background-size:cover;
    background-position:top;
    font-family:sans-serif;
    transform:translate(40%,50%);
    color:#990000;
}

   .successfull-form{
    width:550px;
    height:80px;
    background:rgba(0,0,0,0.4);
    color:#33ff00;
    top:10%;
    left:20%;
    right:20%;
    position:absolute;
    transform:translate(-70%,20%);
    padding: 10px;
    
}